body,
html {
    margin: 0;
    padding: 0;
    background-color: #9bc6f7;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.bcgkr-pos {
    left: -5em;
    bottom: -177em;
    position: absolute;
    transform: translate(-50%, 50%) rotateY(25deg);
}

.bckgr {
    background-image: url(img/illu_PULPFICTION_bckgr.svg);
    width: 490em;
    height: 490em;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    transform-origin: center center;
    animation: rotation 25s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotateZ(0deg)
    }
    50% {
        transform: rotateZ(-180deg)
    }
    100% {
        transform: rotateZ(-360deg)
    }
}

svg {
    position: absolute;
    left: 5em;
    bottom: 3em;
    z-index: 100;
    height: 25em;
    overflow: visible
}

#TYRE_third {}

#SEATS {}

#VINCE_HAIR {}

#VINCE_TORSO {}

#VINCE_FACE {}

#VINCE_EYES {}

#VINCE_ARM_R {}

#VINCE_ARM_L {}

#JULES_TORSO {}

#JULES_FACE {}

#JULES_EYES {}

#JULES_ARM {}

#CHEVY {
    animation: bump 1.3s ease-in-out infinite;
}

@keyframes bump {
    0% {
        transform: translate(0, 0.1em)
    }
    25% {
        transform: translate(0.2em, 0)
            
    }
    37% {
        transform: translate(0.1em, 0.1em)
    }
   
    50% {
        transform: translate(0, 0.2em)
    }
    67% {
        transform: translate(0.1em, 0.1em)
    }
    75% {
        transform: translate(0, 0)
    }
    87% {
        transform: translate(0.1em, -0.1em)
    }
    100% {
        transform: translate(0, 0)
    }
    
}

#TYRE_back_base {
    animation: tyrebump 1.3s 
}

#TYRE_back_top {
    animation: tyrespin 0.5s  0.1s linear infinite;
}

@keyframes tyrespin {
    0% {
        transform: translate(0, 0.1em)
    }
    25% {
        transform: translate(0.1em, 0)
    }
    50% {
        transform: translate(0, -0.1em)
    }
    75% {
        transform: translate(-0.1em, 0)
    }
    100% {
        transform: translate(0, 0.1em)
    }
}

#TYRE_front_base {}

#TYRE_front_top {
    animation: tyrespin 0.5s linear infinite;
}