body,
html {
    margin: 0;
    padding: 0;
    font-family: Sans-Serif;
    text-align: left;
    color: #2c3438;
}

.wrapper {
    width: 85%;
    position: relative;
    margin: 0 auto;
}

.column {
    width: 100%;
    margin: 50px 0 80px 0;
}

.leftcol {
    float: none;
}

.rightcol {
    float: none;
}

p {
    font-size: 16px;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    width: 85%;
}

.column p {
    text-align: left;
    width: 100%;
    max-width: 400px;
}

iframe {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 15px 0 20px;
}

.button {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    cursor: pointer;
    background-color: #2c3438;
    transition: all 0.15s 0.05s ease-in-out;
    display: block;
}

.button:hover {
    background-color: #564e76;
}

h1 {
    font-weight: 600;
    text-align: center;
    font-size: 25px;
}

.button h1 {
    line-height: 50px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:hover {
    color: #fff;
}

a:active {
    color: #fff;
}